{% extends "EventImmediatApp/base.html" %}

{% block content %}
{% csrf_token %}
<div class="d-flex justify-content-center">
  <div class="card mb-2" style="width: 21rem;">
    <div class="card-link">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{event.title}} | {{event.status}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Organized by {{ event.creator }}</h6>
        <p class="card-text">{{ event.description }}</p>
        <h6 class="card-subtitle mb-2 text-body-secondary">From : {{ event.date_start }}</h2>
        <h6 class="card-subtitle mb-2 text-body-secondary">To : {{ event.date_end }}</h2>  
        {% if request.user.is_authenticated %}
          {% if is_participant %}
            <a class='btn btn-success disabled'>Event joined ! <i class="bi bi-check"></i></a>
            <a class="card-edit btn btn-danger mt-2" href="{% url 'EventImmediatApp:events_cancel' event.id_events %}">Cancel participation <i class="bi bi-x"></i></a>
          {% else %}
            <a class='btn btn-success' href="{% url 'EventImmediatApp:events_join' event.id_events %}">Join the event !</a>
          {% endif %}
        {% else %}
          <a class="btn btn-primary" href="{% url 'EventImmediatApp:login' %}">Connect yourself</a>
        {% endif %}
        {% if event.creator_id == user.id  or user.is_superuser %}
          <div class="d-flex justify-content-center">
            <a class="card-edit d-flex align-self-center btn btn-primary m-2" href="{% url 'EventImmediatApp:events_edit' event.id_events %}">Edit event <i class="bi bi-pencil-fill"></i></a>
            <a class="card-delete d-flex align-self-center btn btn-danger m-2" href="{% url 'EventImmediatApp:events_delete' event.id_events %}">Delete event <i class="bi bi-trash-fill"></i></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if event.creator == request.user or request.user.is_superuser %}
    <div class="card mb-2" style="width: 21rem;">
      <div class="card-link">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Participants</h5>
            <div class="card-text">
              {% if participants %}
                <ul>
                {% for participant in participants %}
                  <li>{{ participant.user.username }}</li>
                {% endfor %}
                </ul>
              {% else %}
                <p>Any participant found.</p>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}