{% extends 'EventImmediatApp/base.html' %}
{% load static %}
{%block content %}
<!-- <div class="home-background-container" style="background-image: url(`{% static 'media/home_wallpaper.jpg' %}`)"> -->
    <!-- <img class="home-background-img" src="{% static 'media/home_wallpaper.jpg' %}" alt="Logo"/> -->
<!-- </div> -->


<!-- <img src="{% static 'media/home_wallpaper.jpg' %}" class="object-fit-cover object-fit-md-contain border rounded" alt="..."> -->
 
<h1>Event'Immediat</h1>

<p>An enterprise, here to propose you severals events</p>

<h2>Choices</h2>
<p>A large choice of events that you can choose</p>

<h2>Easy to use</h2>
<p>You can join our events with one click</p>

<!-- <div class="background-div" style="background-image: url('{% static "media/home_wallpaper.jpg" %}')"></div> -->

{% endblock %}